.subnav
  width: 100%
  background-color: #C20C0C;
  font-size: 12px;
  height: 34px;
  .subnav-wrapper{
    height: 34px;
    width: 1100px;
    margin: 0 auto;
  }
  .subnav-ul
    padding-left: 163px;
    float: left;
.subLine
  width: 100%
  background-color: #C20C0C;
  height: 5px;