.subnav
  width: 100%
  background-color: #C20C0C;
  font-size: 12px;
  height: 34px;
  .subnav-wrapper{
    height: 34px;
    width: 1100px;
    margin: 0 auto;
  }
  .subnav-ul
    padding-left: 163px;
    float: left;
  .subnav-item
    float left
    line-height: 34px;
    background-color: #C20C0C;
    color: #fff;
    span 
      display: inline-block;
      height: 21px;
      padding: 0 13px;
      margin: 7px 17px 0;
      border-radius: 20px;
      line-height: 21px;
      cursor pointer
      &:hover
        background-color: #9B0909;
.subLine
  width: 100%
  background-color: #C20C0C;
  height: 5px;