.comment-item
  padding: 15px 0;
  border-top: 1px dotted #ccc;
  font-size: 12px;
  .head
    float: left;
    width: 50px;
    height: 50px;
    margin-right: -100px;
    .avart-img
      float: left;
      width: 50px;
      height: 50px;
      margin-right: -100px;
  .cntwrap
    margin-left: 60px;
    .word-wrap
      word-break: break-word;
      width: 100%;
      overflow: hidden;
      line-height: 20px;
      a
        color: #0c73c2;
        cursor: pointer;
        &:hover
          text-decoration: underline;
    .btm
      margin-top: 15px;
      text-align: right;
      line-height: 16px;
      .time
        float: left;
        color: #999;
      .none-btn
        outline: 0;
        border: 0;
        background-color: #fff;
        cursor: pointer;
        color: #666;
        font-size: 12px;
        padding: 0;
        &:hover
          text-decoration: underline;
      .sep
        margin: 0 8px;
        color: #ccc;
      .zan
        background: url("http://s2.music.126.net/style/web2/img/icon2.png")
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        width: 15px;
        height: 14px;
        background-position: -150px 0;
        margin-top: -4px;