.selected{
  background-color: #000;
  color: #fff!important;
}
li
  position relative
.nav-trangle
  position absolute
  bottom 0;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #C20C0C transparent;
  left: 50%;
  transform: translateX(-50%);