.login
  height: 126px;
  background: url(http://s2.music.126.net/style/web2/img/index/index.png)
  background-position: 0 0;
  .login-note
    width: 205px;
    margin: 0 auto;
    padding: 16px 0;
    line-height: 22px;
    color: #666;
  .login-btn
    display: block;
    width: 100px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 #8a060b;
    margin: 0 auto;