.login
  position: relative;
  float right
  height 45px;
  margin 19px 0 0 20px;
  padding 0 22px 0 0;
  background url(http://s2.music.126.net/style/web2/img/frame/topbar.png?5d0608231148ecb2b9bc4bb8a8cdc2a4) no-repeat 0 9999px;
  background-position right -47px;
  line-height 1
  color #787878
  font-size 12px
  z-index 5
  &&:hover
    .menu-dialog
      visibility:true;
  .login-link
    display block
    width 28px
    margin-top 7px
    line-height 14px
    &:hover
      text-decoration underline
      cursor pointer
.menu-dialog
  position: absolute;
  top: 38px;
  right: -43px;
  width: 158px;
  background: #2b2b2b;
  border: 1px solid #202020;
  box-shadow: 0 8px 24px 0 rgba(0,0,0,0.50);
  border-radius: 4px;
  .icn-trangle
    position: absolute;
    top: -8px;
    left: 50%;
    width: 14px;
    height: 8px;
    margin-left: -7px;
    background: url(http://s2.music.126.net/style/web2/img/frame/toplist.png) no-repeat 0 9999px;
    background-position: -20px 0;
  .menu-item
    margin-left: 24px;
  li
    border: 1px solid #232323;
    border-width: 1px 0;
    float: left;
    box-sizing: border-box;
    width: 100%;
    cursor pointer
    color: #ccc;
    &:hover
      color: #fff;
    span 
      float: left;
      width: 100px;
      line-height: 39px;
    .icn
      background: url(http://s2.music.126.net/style/web2/img/frame/toplist.png) no-repeat 0 9999px;
      float: left;
      width: 18px;
      height: 18px;
      margin: 10px 10px 0 -7px;
    .icn-qq
      background-position: -20px -40px;
    .icn-phone
      background-position: 0 0;
    .icn-wx
      background-position: -20px -20px;
    .icn-sina
      background-position: 0 -20px;
    .icn-wy
      background-position: 0 -40px;
