.song-bg
  background: url("http://s2.music.126.net/style/web2/img/frame/wrap4.png")repeat-y center 0;
  width: 980px;
  min-height: 700px;
  margin: 0 auto;
  border: 1px solid #d3d3d3;
  .song-warp
    float: left;
    width: 100%;
    margin-right: -270px;