@import '../../../common/style/mixin.styl'
.preplay
  position: absolute;
  left: 50%;
  bottom: 47px;
  width: 986px;
  height: 301px;
  margin-left: -493px;
  .preplay-hd
    background: url("http://s2.music.126.net/style/web2/img/frame/playlist_bg.png") no-repeat
    background-position: 0 0;
    height: 41px;
    padding: 0 5px;
    h4
      position: absolute;
      left: 25px;
      top: 0;
      height: 39px;
      line-height: 39px;
      font-size: 14px;
      color: #e2e2e2;
    button
      background-color: transparent;
      outline: 0;
      border: 0;
      color: #ccc;
      &:hover
        text-decoration: underline;
    .adddall
      position: absolute;
      left: 398px;
      top: 12px;
      height: 15px;
      line-height: 15px;
      cursor: pointer;
    .line
      position: absolute;
      top: 13px;
      left: 477px;
      height: 15px;
      border-left: 1px solid #000;
      border-right: 1px solid #2c2c2c;
    .clear
      position: absolute;
      left: 490px;
      top: 12px;
      height: 15px;
      line-height: 15px;
      cursor: pointer;
      color: #ccc;
    p
      position: absolute;
      left: 595px;
      top: 0;
      width: 346px;
      text-align: center;
      height: 39px;
      line-height: 39px;
      color: #fff;
      font-size: 14px;
    .close
      color: #ccc;
      position: absolute;
      top: 6px;
      right: 8px;
      width: 30px;
      height: 30px;
      overflow: hidden;
      // text-indent: -999px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      background-position: -195px 9px;
  .preplay-bd
    position: absolute;
    left: 0;
    top: 41px;
    // width: 976px;
    width: 100%;
    height: 260px;
    overflow: hidden;
    background: url("http://s2.music.126.net/style/web2/img/frame/playlist_bg.png")
    background-position: -1014px 0;
    background-repeat: repeat-y;
    .imgbg
      position: absolute;
      left: 2px;
      top: -1px;
      z-index: 1;
      width: 980px;
      height: auto;
      opacity: .2;
      top: -360px;
    .msk
      position: absolute;
      left: 2px;
      top: 0;
      z-index: 2;
      width: 558px;
      height: 260px;
      background: #121212;
      opacity: .5;
    .song-list
      position: absolute;
      left: 2px;
      top: 0;
      z-index: 4;
      height: 260px;
      width: 553px;
      overflow: hidden;
      color: #ccc;
      ul
        &:after
          clean_float()
        li
          overflow:hidden
          width: 100%;
          background-color: rgba(0,0,0,0.3);
          &:hover
            background-color: rgba(0,0,0,0.4);
            color: #fff;
            .icns
              display: block!important;
          .col
            float: left;
            padding-left: 10px;
            height: 28px;
            line-height: 28px;
            overflow: hidden;
            cursor: pointer;
          .col1
            width: 10px;
            .playicn
              display: block;
              margin-top: 8px;
              width: 10px;
              height: 13px;
              background: url("http://s2.music.126.net/style/web2/img/frame/playlist.png") no-repeat
              background-position: -182px 0;
          .col2
            width: 256px;
          .col3
            width: 78px;
            position: relative;
            .icns
              position: absolute;
              right: 0;
              top: 0;
              width: 100px;
              height: 23px;
              display: none;
              .icn
                float: right;
                overflow: hidden;
                margin: 7px 0 0 10px;
                text-indent: -9999px;
                height: 16px;
                background: url("http://s2.music.126.net/style/web2/img/frame/playlist.png") no-repeat
              .icn1
                width: 13px;
                background-position: -51px 0;
                &:hover
                  background-position: -51px -20px;
              .icn2
                width: 14px;
                background-position: -57px -50px;
                &:hover
                  background-position: -80px -50px;
              .icn3
                width: 14px;
                background-position: 0 0;
                &:hover
                  background-position: 0 -20px;
              .icn4
                width: 16px;
                background-position: -24px 0;
                &:hover
                  background-position: -24px -20px;
          .col4
            width: 70px;
          .col5
            width: 35px;
            color: #666;
          .col6
            width: 37px;
            padding-left: 6px;
            .icn-src
              background: url("http://s2.music.126.net/style/web2/img/frame/playlist.png") no-repeat
              width: 14px;
              height: 16px;
              margin-left: 0;
              background-position: -80px 0px;
              outline: 0;
              border: 0;
              margin: 7px 0 0 10px;
              cursor: pointer;
    .bline
      position: absolute;
      left: 555px;
      top: -1px;
      z-index: 2;
      width: 6px;
      height: 260px;
      background: #000;
      opacity: .5;
    .lyric
      position: absolute;
      right: 40px;
      top: 0;
      z-index: 4;
      margin: 21px 0 20px 0;
      height: 219px;
      width: 354px;
      overflow: hidden;
      p
        color: #989898;
        word-wrap: break-word;
        text-align: center;
        line-height: 32px;
        height: auto !important;
        height: 32px;
        min-height: 32px;
        -webkit-transition: color 0.7s linear;
        -moz-transition: color 0.7s linear;
        -o-transition: color 0.7s linear;
        transition: color 0.7s linear;
