.swiper
  background-color: gray
.swiper-content
  position: relative;
  margin: 0 auto;
  width: 982px;
.img-wrapper
  width 730px
  height: 336px;
  img
    width 730px
    height 336px
.download
  position: absolute;
  top: 0;
  z-index: 20;
  right: -1px;
  width: 254px;
  height: 336px;
  background-color: black
.banner-btn
  cursor pointer
  background: url(http://s2.music.126.net/style/web2/img/index/banner.png?35cd1432b673a98515d209d04eb7fe83) 0 9999px no-repeat;
.left-btn
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -31px;
  width: 37px;
  height: 63px;
  text-indent: -9999px;
  left: -68px;
  background-position: 0 -360px;
.right-btn
  right: -68px;
  background-position: 0 -508px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -31px;
  width: 37px;
  height: 63px;
  text-indent: -9999px;