@import '../../../common/style/mixin.styl';
.song-wrap
  font-size: 12px;
  &:after
    clean_float();
  .img-wrap
    float: left;
    width: 206px;
    margin-right: -226px;
    position: relative;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    .img-cover
      width: 198px;
      height: 198px;
      position: relative;
      float: left;
      img
        width: 100%;
        height: 100%;
      .img-msk
        position: absolute;
        width: 206px;
        height: 205px;
        top: -4px;
        left: -4px;
        background: url(http://s2.music.126.net/style/web2/img/coverall.png)
        background-position: 0 -1285px;
    .out
      float: left;
      margin: 20px 0 0 46px;
      .out-link
        text-decoration: underline;
        color: #0c73c2;
        margin: 10px 0;
      .icn-music
        width: 16px;
        height: 16px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        background: url("http://s2.music.126.net/style/web2/img/icon.png")no-repeat 0 9999px;
        background-position: -34px -863px;
  .content
    float: right;
    width: 414px;
    font-size: 12px;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    .head
      word-wrap: break-word;
      .playlist-lab
        float: left;
        width: 54px;
        height: 24px;
        background:url(http://s2.music.126.net/style/web2/img/icon.png)
        background-position: 0 -243px;
      .title
        margin-left: 64px;
        position: relative;
        top: -6px;
        font-size: 24px;
        height: 33px;
        em
          margin-right: 7px;
          font-style: normal;
          vertical-align: middle;
          line-height: 24px;
          font-size: 20px;
          word-wrap: break-word;
          word-break: break-word;
          font-weight: normal;
          font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    .user
      margin: 0 0 20px;
      line-height: 35px;
      &:after
        clean_float();
      .face
        margin-right: 10px;
        float: left;
        width: 35px;
        height: 35px;
      .name
        float: left;
        line-height: 35px;
      .icn-star
        float: left;
        margin: 9px 0 0 3px;
        width: 12px;
        height: 13px;
        vertical-align: middle;
        background: url('http://s2.music.126.net/style/web2/img/icon.png') -65px -840px no-repeat
      .time
        line-height: 35px;
        color: #999;
        margin-left: 15px;
    .btn-group
      margin-bottom: 25px;
      margin-right: -10px;
      &:after
        clear: both;
        content: '.';
        display: block;
        height: 0;
        visibility: hidden;
      .info-btn
        border: 0;
        outline: 0;
        margin-right: 6px;
        float: left;
        height: 31px;
        line-height: 30px;
        min-width: 23px;
        cursor: pointer;
        padding: 0 5px 0 0;
        white-space: nowrap;
        color: #333;
        background: url('http://s2.music.126.net/style/web2/img/button2.png')no-repeat 0 9999px;
      .btn-i
        font-family: "simsun","宋体";
        font-style: normal;
        float: left;
        height: 31px;
        line-height: 30px;
        min-width: 23px;
        cursor: pointer;
        background: url('http://s2.music.126.net/style/web2/img/button2.png')no-repeat 0 9999px;
      .icn-blue
        background-position: right -428px;
        &:hover
          color: #fff;
          background-position: right -510px;
      .icn-white
        background-position: right -1020px;
      .icn-play
        color: #fff;
        padding: 0 7px 0 8px;
        background-position: 0 -387px;
        &:hover
          color: #fff;
          background-position: 0 -469px;
      .icn-collect
        padding-left: 28px;
        background-position: 0 -977px;
        &:hover
          background-position: 0 -1063px;
      .icn-share
        padding-left: 28px;
        background-position: 0 -1225px;
        &:hover
          background-position: 0 -1268px;
      .icn-download
        padding-left: 28px;
        background-position: 0 -2761px;
        &:hover
          background-position: 0 -2805px;
      .icn-comment
        padding-left: 28px;
        // line-height: 28px;
        background-position: 0 -1465px;
        &:hover
          background-position: 0 -1508px;
      .ply
        float: left;
        width: 20px;
        height: 18px;
        margin: 6px 2px 2px 0;
        background: url("http://s2.music.126.net/style/web2/img/button2.png")
        background-position: 0 -1622px;
        overflow: hidden;
      .plyhover
        float: left;
        width: 20px;
        height: 18px;
        margin: 6px 2px 2px 0;
        background: url("http://s2.music.126.net/style/web2/img/button2.png")
        background-position: -28px -1622px;
        overflow: hidden;
    .tags
      margin: 25px 0 5px;
      line-height: 22px;
      color: #666;
      &:after
        clean_float();
      span
        float: left;
      .tag
        float: left;
        margin: 0px 10px 3px 0;
        padding: 0 10px 0 0;
        text-shadow: 0 1px #fdfdfd;
        color: #777;
        text-decoration: none;
        height: 22px;
        line-height: 22px;
        cursor: pointer;
        background: url('http://s2.music.126.net/style/web2/img/button2.png') right -27px no-repeat
        &:hover
          background-position: right -1430px;
        i
          float: left;
          font-style: normal;
          position: relative;
          zoom: 1;
          height: 22px;
          line-height: 22px;
          padding: 0 3px 0 13px;
          background: url('http://s2.music.126.net/style/web2/img/button2.png') 0 0 no-repeat
          &:hover
            background-position: 0 -1400px;
    .intro
      margin-top: 4px;
      line-height: 18px;
      color: #666;
      word-wrap: break-word;
      word-break: break-word;
      white-space: pre;
      