.discover-module
  width: 980px;
  min-height: 700px;
  _height: 700px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-width: 0 1px;
  .g-wrap
    padding: 20px 20px 40px;
    margin-right: 251px;