.discover-module
  width: 980px;
  min-height: 700px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-width: 0 1px;
  background: url(http://s2.music.126.net/style/web2/img/frame/wrap1.png)repeat-y 100% 100%;
  &:after
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
  .l-wrap
    float: left;
    width: 100%
    margin-right: -250px;
    .l-wrap1
      padding: 20px 20px 40px;
      margin-right: 251px;
  .r-wrap
    position: relative;
    float: right;
    width: 250px;
    zoom: 1;