.header{
  background: #242424;
  width: 100%;
  .header-wrapper{
    border-bottom: 1px solid #000;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    width: 1100px;
    display: block;
    &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    }
    .logo{
      float: left;
      width: 157px;
      text-align: center;
      color: #fff;
    }
    .nav {
      float: left;
      li {
        float: left;
        height: 70px;
        a {
          color: #ccc;
          font-size: 14px;
          float: left;
          padding: 0 19px;
          height: 70px;
        }
        &:hover{
          background-color: #000;
          a {
            color: #fff;
          }
        }
      }
    }
    .header-link {
      font-size: 12px;
      background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?5d0608231148ecb2b9bc4bb8a8cdc2a4) no-repeat 0 9999px;
      float: right;
      width: 90px;
      height: 32px;
      margin: 19px 0 0 12px;
      box-sizing: border-box;
      padding-left: 32px;
      background-position: 0 -140px;
      line-height: 33px;
      color: #ccc;
    }
  }
}