.header{
  background: #242424;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #000;
  line-height: 70px;
  .logo{
    float: left;
    width: 157px;
    text-align: center;
    color: #fff;
  }
  .nav {
    float: left;
    li {
      float: left;
      height: 70px;
      padding: 0 19px;
      a {
        color: #ccc;
      }
      &:hover{
        background-color: #000;
        a {
          color: #ccc;
        }
      }
    }
  }
}